@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

/* COLOURS
pomegranate = #A54657
seafoam green = #C5DAC1
burgundy = #582630
coral = #F26157
darkest green = #0C1713
*/

body {
  background-color: #0C1713;
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

.navList {
  color: #0C1713;    
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  margin-top: 20px;
  font-family: 'Dosis', sans-serif;
}

.navList .nav-link {
  display: flex;
  align-items: center;
  padding: 10px 0 15px 0px;
  width: 100%;
  align-self: stretch;
}

.navList .nav-link a {
  text-decoration: none;
  color: black;
}

.navList .nav-link:hover {
  background-color: gray;
  cursor: pointer;
}

.navList .nav-link img {
  width: 30px;
  height: 30px;
  margin-left: 70px;
  vertical-align: middle;
}

.navList .nav-link span {
  font-size: 1.35rem;
  top: 2px;
  position: relative;
  left: 8px;
}

.sidebar {
  color: #EFE9F4;
  background-color: #F26157;
  height: 100%;
  width: 250px;
  position: fixed;
  border-right: solid #3c3c3c;
  top: 0;
}

.logo {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.account-nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #0C1713;
}

.account-nav button {
  background-color: #0C1713;
  border: none;
}

.account-nav img {
  width: 30px;
  height: 30px;
  padding: 10px;
}

.account-nav span {
  top: -20px;
  position: relative;
  padding-right: 10px;
  color: #EFE9F4;
}

.artist-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.artist-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.artist-info {
  display: flex;
  flex-direction: column;
}

.artist-info h2 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 0.5rem;
}

.artist-info p {
  font-size: 1.25rem;
  color: white;
  margin-bottom: 0.25rem;
}

.artist-bio {
  text-align: center;
  margin-bottom: 2rem;
}

.artist-bio h2 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 1rem;
}

.artist-bio p {
  font-size: 1.25rem;
  color: white;
}

.artist-albums {
  text-align: center;
  margin-bottom: 2rem;
}

.artist-albums h2 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 1rem;
}

.artist-albums ul {
  list-style-type: none;
  padding: 0;
}

.artist-albums li {
  font-size: 1.25rem;
  color: white;
  margin-bottom: 0.5rem;
}
