body {
    background-color: #232323;
}

.navList {
    list-style-type: none;
    color: #EFE9F4;    
    font-size: 25px;
    display: block;

}

.sidebar {
    color: #EFE9F4;
    background-color: #A0CA92;
    height: 100%;
    width: 280px;
    position: fixed;
    border-right: solid #3c3c3c;
}

.logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

#form {
    display: flex;
    justify-content: center;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .navList {font-size: 18px;}
}
