<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" href="static/users.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body>
    {% include 'navbar.html' %}
    <header class="navbar">
        <a href="/">Home</a>
      
    </header>
    <main>
        <div class="dashboard-container">
            <h1>Dashboard</h1>
            <p>Welcome, {{ current_user.username }}!</p>
            {% if current_user.user_type == 'artist' %}
                <a href="/upload">Upload Music</a>
          
            {% endif %}
           
            <a href="/songs">Songs</a>
        </div>
    </main>
    </body>
    
    </html>
    
    
<!-- {% extends 'base.html' %}
{% set show_navbar = false %}

{% block title %}Dashboard{% endblock %}

{% block extra_links %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
<script src="../static/dashboard.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@1,300&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
    <div class="player-container hidden">
        <div class="player">
          <nav>
            <div class="circle">
              <i class="fa-solid fa-angle-left"></i>
            </div>
            <div class="circle">
              <i class="fa-solid fa-bars"></i>
            </div>
          </nav>
          <img src="../static/nav_icons/events.png" alt="Cover Art" class="song_img" id="song-img">
          <div class="song-info-container hidden" id="song-info-container">
            <h2 id="song-info-title"></h2>
            <p id="song-info-artist"></p>
          </div>
          <h1 id="song-title" class="hidden"></h1>
          <p id="song-artist" class="hidden"></p>
          <button id="info-button">Show info</button>
          <audio id="player" controls>
             Empty source tag, it will be updated by JavaScript -->
            <!-- <source src="" type="audio/mpeg">
          </audio>
        </div>
      </div>
  </main> -->
<!-- <main>
    <div class="dashboard-container">
        <h1>Welcome, {{ current_user.username }}!</h1> -->
        <!-- <div class="albums-container">
            {% for album in current_user.albums %}
            <div class="album-card" data-cover="{{ url_for('static', filename='uploads/' + album.cover_art) }}">
                <a href="{{ url_for('album_songs', album_id=album.album_id) }}">
                    {% if album.artist_id and album.album_title and album.cover_name %}
                        <img src="{{ url_for('static', filename='audio/' + album.artist_id|string + '/' + album.album_title + '/album_cover/' + album.cover_name) }}" alt="{{ album.album_title }} Cover Art" class="album-cover-image">
                    {% else %}
                        <img src="{{ url_for('static', filename='audio/placeholder.png') }}" alt="Placeholder Image" class="album-cover-image">
                    {% endif %}
                    <h2>{{ album.album_title }}</h2>
                </a>
            </div> -->
            
    
            <!-- {% endfor %}
        </div>
    </div> -->
<!-- </main> -->

<!-- {% endblock %} --> 

