.hidden {
    display: none;
}

body {
    margin-left: 25px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: auto
}

h1 {
    grid-column: 3/5
}

.artist-content {
    grid-column: 3/5;
    grid-row: 3/5;
}

.player-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}
.player-container .song_img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}


.player-container .player {
    grid-column: 3/5;
    grid-row: 1/3;
}

.player-container .song-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.player-container .song-info .song-details {
    margin-left: 10px;
}

.player-container .song-info .show-info-btn {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .player-container .song-info {
        display: none;
    }
    .player-container .show-info-btn {
        display: block;
    }
    .player-container.show-info .song-info {
        display: flex;
    }
    .player-container.show-info .show-info-btn {
        display: none;
    }
}

/* PLAYER CSS */
.player-container {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .container {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .player {
    background-color: white;
    width: 400px;
    padding: 25px 25px;
    border-radius: 10%;
    text-align: center;
  }
  
  .player-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  nav .circle {
    border-radius: 50%;
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.4);
  }
  
  .song_img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 8px solid black;
    box-shadow: 0 10px 60px rgb(0, 0, 0, 0.4);
  }
  
  .player h1 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
  }
  .player p {
    font-size: 20px;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  