@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap');


.hidden {
  display: none;
}

body {
  color: white;
  background-color: transparent;
  font-family: 'Roboto slab', sans-serif;
  margin-left: 23%;
  background-image: url(../static/background/music_purple.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  filter: brightness(150%);
  animation: fadeInDown 1s ease-in-out;
}

h2 {
  animation: fadeInDown 1s ease-in-out;
}

.song-link {
  color: #fff;
  text-decoration: none;
  transition: 0.1s ease-in-out;
  padding-bottom: 3px;
  margin-right: 5px;
}


.song-link:hover {
  font-size: 1.5rem;
  text-decoration: underline;
}

hr {
  border: 1px solid #12241c;
  margin: 0px;
}

h3 {
  margin: 0px;
}

ul button {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  padding-left: 4px;
  border: 2px solid white;
  background-color: #0C1713;
  color: #fff;
  transition: 0.1s ease-in-out;
}

.add-to-playlist-form button:hover {
  width: 40px;
  height: 25px;
  border-radius: 20px;
}

.show-add-to-playlist-btn:hover {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  font-size: large;
}

.add-to-playlist-form {
  display: flex;
}

.add-to-playlist-form button {
  width: 35px;
  height: 23px;
  margin-left: 0px;
}

.artist-content {
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  animation: fadeInUp 1s ease-in-out;
}

.artist-content hr {
  margin-top: 30px;
}

.artist-info {
  background-color: transparent;
  border-radius: 5%;
  width: 50%;
  height: 160px;
  margin-bottom: 2%;
}

.artist-info form input {
  margin-top: 10px;
}

.artist-info form {
  margin-bottom: 10px;
}


.artist-info a {
  color: #fff;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}

.artist-info a:hover {
  text-decoration: underline;
  font-size: larger;
}

.artist-info a:focus {
  text-decoration: underline;
}

.artist-info a span {
  margin-bottom: 10px;
}


.album_list {
  background-color: transparent;
  border-radius: 5%;
  width: 100%;
  height: 430px;
  animation: fadeInUp 1s ease-in-out;
}

.album_list ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.album_list ul li ul {
  display: flex;
  flex-direction: column;
}

.album_list li {
  list-style: none;
  /* display: grid; */
  background-color: transparent;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
  border-radius: 5%;
}

.album_list ul li ul li {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.album_list ul {
  padding: 0px;
}

.delete_btn {
  width: 50px;
  height: 23px;
  margin-left: 10px;

}

.delete_btn:hover {
  width: 57px;
  height: 27px;
  font-size: 1rem;
}

.player-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}

.player-container .song_img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.player-container .song-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.player-container .song-info .song-details {
  margin-left: 10px;
}

.player-container .song-info .show-info-btn {
  margin-left: 10px;
}


@media (max-width: 768px) {
  .player-container .song-info {
    display: none;
  }

  .player-container .show-info-btn {
    display: block;
  }

  .player-container.show-info .song-info {
    display: flex;
  }

  .player-container.show-info .show-info-btn {
    display: none;
  }
}


/* PLAYER CSS */
.player-container {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  background-color: white;
  width: 350px;
  padding: 15px 15px;
  border-radius: 10%;
  text-align: center;
}

.player-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: -6px;
}

.player-nav .circle {
  border-radius: 50%;
  background-color: black;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.4);
}

.song_img {
  width: 100px;
  height: 100px;
  
  border: 8px solid black;
  box-shadow: 0 10px 60px rgb(0, 0, 0, 0.4);
}

.player h1 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 30px;
}

.player p {
  font-size: 20px;
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 15px;
}

.bttn_audio {
  display: flex;
  flex-direction: row-reverse;
}

.bttn_audio audio {
  margin-right: 10px;
}

.bttn_audio button {
  background-color: #162e23;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bttn_audio button:hover {
  background-color: #162e23;
}

.bttn_audio button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #162e23;
}


.song-info-container {
  color: #000;
}

.player-container img {
  margin-bottom: 10px;
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(0px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


.flashes {
  list-style: none;
  padding: 10px;
  margin: 10px 125px 0px 0px;
  background-color:#A54657;
  border: 1px solid #A54657;
  border-radius: 5px;
}

.flashes li {
  margin-bottom: 5px;
}