.hidden {
    display: none;
}

body {
    color: white;
    background-color: #0C1713;
    font-family: 'Red Hat Display', sans-serif;
    margin-left: 20%;
    grid-auto-rows: auto
}

h1 {
    margin-bottom: 20%;
}

