@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap');

body {
  background-color: #0C1713;
  color: black;
  margin-left: 25px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-auto-rows: auto;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

.create-events {
  grid-column: 3/5
}

.box {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
  margin-top: 75px;
}

.box .box-content {
  margin: 0 auto;
  display: table;
}

.box input[type="text" i],input[type="date" i] {
  height: 25px;
  flex: 1;
  border: 1px solid #242424;
  outline: none;
}

.box label {
  text-align: left;
  margin-right: 10px;
}

.event-title, .event-date , .event-venue {
  margin: 20px 0 10px 0;
}

.upload-button {
  margin-top: 50px;
}