@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap');

body {
    margin-left: 25px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: auto;
    background-color: #0C1713;
    color: #FFF;
    font-family: 'Roboto Slab', serif;
}

.favorite-artists-container {
    grid-column: 3/5;
}

h1 {
    font-family: 'Roboto slab', sans-serif;
}