@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap');

body {
    margin-left: 25px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: auto;
    background-color: #0C1713;
    color: #FFF;
    font-family: 'Roboto Slab', serif;
    background-image: url(../static/background/space_background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.favorite-artists-container {
    grid-column: 3/5;
    animation: fadeInUp 1s ease-in-out;
}

h1 {
    font-family: 'Roboto slab', sans-serif;
    animation: fadeInDown 1s ease-in-out;
}

.favorite-artists-container .playlist-list {
    list-style-type: none;
    font-size: 3rem;
    position: absolute;
}

.favorite-artists-container .playlist-list li a:link {
    text-decoration: none;
}

.favorite-artists-container .playlist-list li a {
    color: #FFF;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    width: 90%;
    border: 6px solid #12241c;
    border-radius: 5%;
    margin-right: 30px;
    height: 90%;   
}

.favorite-artists-container .playlist-list li a:hover {
    color: #C5DAC1;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}