.sidebar {
    color: #EFE9F4;
    background-color: #A54657;
    height: 100%;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar .logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

#form {
    width: 100%;
    display: flex;
    justify-content: center;
}

#form input {
    flex: 1;
    border: none;
    outline: none;
}

#form button {
    background: #F26157;
    padding: 10px 15px;
    border: none;
    outline: none;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}