@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #0C1713;
    color: #fff;
    font-family: 'Roboto Slab', sans-serif;
    overflow-x: hidden;
}

h1.my-playlist-header {
    text-align: center;
    margin: 60px 0;
    font-size: 2em;
    color: #fff;
}

.playlist-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    overflow-x: auto;
    padding-bottom: 20px; /* Give some room for scrollbar */
    max-width: 100%;
}

.playlist-card {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    color: #fff;
    margin: 20px;
    padding: 20px;
    transition: all 0.3s ease;
    min-width: 300px;
    max-width: 500px;
}

.playlist-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.playlist-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.playlist-card ul {
    list-style-type: none;
    padding: 0;
}

.playlist-card ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
}

.playlist-card ul li:last-child {
    border-bottom: none;
}

.song-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.song-link:hover {
    color: #1DB954;  /* Spotify green for a little touch */
}

.delete-btn {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.delete-btn:hover {
    background-color: #1DB954;
    color: #fff;
    border-color: #1DB954;
}

.hidden {
    display: none;
}



/*player css*/
.player-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}

.player {
    background-color: #fff;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.song_img {
    width: 100px;
    height: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.player-nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.player-nav .circle {
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.bttn_audio {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bttn_audio audio {
    width: 100%;
}

.bttn_audio button {
    background-color: #162e23;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bttn_audio button:hover {
    background-color: #134420;
}

.bttn_audio button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #162e23;
}

#artist-name {
    color: black;
}

.flashes {
    list-style: none;
    padding: 10px;
    margin: 10px 125px 0px 0px;
    background-color:#A54657;
    border: 1px solid #A54657;
    border-radius: 5px;
  }
  
  .flashes li {
    margin-bottom: 5px;
  }