@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap');

.hidden {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    width: 100%;
    margin-top: 60px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    text-align: center;
}

header.navbar {
    text-align: center;
    top: 0;
    left: 0;
}



.artist-content {
    grid-column: 3/5;
    grid-row: 3/5;
}

.player-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}
.player-container .song_img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}


.player-container .player {
    grid-column: 3/5;
    grid-row: 1/3;
}

.player-container .song-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.player-container .song-info .song-details {
    margin-left: 10px;
}

.player-container .song-info .show-info-btn {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .player-container .song-info {
        display: none;
    }
    .player-container .show-info-btn {
        display: block;
    }
    .player-container.show-info .song-info {
        display: flex;
    }
    .player-container.show-info .show-info-btn {
        display: none;
    }
}