{% extends 'base.html' %}

{% block title %}{{ artist.artist_stagename }}{% endblock %}

{% block content %}
    <h1>{{ artist.artist_stagename }}</h1>
    <p>{{ artist.artist_city }}</p>
    <p>{{ artist.artist_tags }}</p>
    {% if artist.artist_biography %}
    <p><a href="{{ url_for('artist_biography', artist_id=artist.id) }}">Biography</a></p>
    {% else %}
        <p>No biography available for this artist.</p>
    {% endif %}
    
    {% if current_user.is_authenticated %}

        {% if not current_user.is_following(artist)  %}

            <form method="post" action="{{ url_for('follow_artist', artist_id=artist.id) }}">
                <input type="submit" value="Follow">
            </form>
        {% elif current_user.is_following(artist) %}
            <form method="post" action="{{ url_for('unfollow_artist', artist_id=artist.id) }}">
                <input type="submit" value="Unfollow">
            </form>
        {% endif %}
{% endif %}

    <h2>Albums</h2>
    <ul>
        {% for album in albums %}
            <li>
                <h3>{{ album.album_title }}</h3>
                <ul>
                    {% for song in album.songs %}
                        <li>
                            {{ song.song_title }}
                            <audio controls>
                                <source src="{{ url_for('static', filename='audio/' + artist.id|string + '/' + album.album_title.replace(' ', '_').lower() + '/' + song.song_title + '.mp3') }}" type="audio/mpeg">
                            </audio>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
