{% extends 'base.html' %}
{% block extra_links %}
<script src="../static/createPlaylist.js"></script>
<link rel="stylesheet" href="../static/artist_page.css">
{% endblock %}
{% block title %}{{ artist.artist_stagename }}{% endblock %}

{% block content %}
    <h1>{{ artist.artist_stagename }}</h1>
    <p>{{ artist.artist_city }}</p>
    <p>{{ artist.artist_tags }}</p>
    {% if artist.artist_biography %}
    <p><a href="{{ url_for('artist_biography', artist_id=artist.id) }}">Biography</a></p>
    {% else %}
        <p>No biography available for this artist.</p>
    {% endif %}
    
    {% if current_user.is_authenticated %}

        {% if not current_user.is_following(artist)  %}

            <form method="post" action="{{ url_for('follow_artist', artist_id=artist.id) }}">
                <input type="submit" value="Follow">
            </form>
        {% elif current_user.is_following(artist) %}
            <form method="post" action="{{ url_for('unfollow_artist', artist_id=artist.id) }}">
                <input type="submit" value="Unfollow">
            </form>
        {% endif %}
{% endif %}

    <h2>Albums</h2>
    <ul>
        {% for album in albums %}
            <li>
                <h3>{{ album.album_title }}</h3>
                <ul>
                    {% for song in album.songs %}
                        <li>
                            {{ song.song_title }}
                            <audio controls>
                                <source src="{{ url_for('static', filename='audio/' + artist.id|string + '/' + album.album_title.replace(' ', '_').lower() + '/' + song.song_title + '.mp3') }}" type="audio/mpeg">
                            </audio>
                            <button class="show-add-to-playlist-btn" onclick="showAddToPlaylistForm(this)">+</button>
                            <form action="{{ url_for('add_to_playlist') }}" method="post" class="add-to-playlist-form">
                                <input type="hidden" name="song_id" value="{{ song.song_id }}">
                                <select name="playlist_id" class="hidden" onchange="showNewPlaylistInput(this)">
                                    <option value="">Add to Playlist</option>
                                    {% for playlist in playlists %}
                                    <option value="{{ playlist.playlist_id }}">{{ playlist.playlist_title }}</option>
                                    {% endfor %}
                                    <option value="create">Create New Playlist</option>
                                </select>
                                <div style="display:none;" class="new-playlist-input hidden">
                                    <input type="text" name="new_playlist_name" placeholder="New Playlist Name">
                                </div>
                                <button type="submit" class="hidden">Add</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
