{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block extra_links %}
<link rel="stylesheet" href="../static/dashboard.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@1,300&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<header class="navbar">
    <a href="/">Home</a>
  
</header>
<main>
    
    <div class="dashboard-container">
        <h1>Dashboard</h1>
        <p>Welcome, {{ current_user.username }}!</p>
        {% if current_user.user_type == 'artist' %}
        <div class="navList">
            <div class="nav-link">
                <a href="/upload"><img src="../static/nav_icons/upload.png"/><span>Upload Music</span></a>
            </div>
            <div class="nav-link">
                <a href="{{ url_for('artist_biography', artist_id=current_user.user_id) }}"><img src="../static/nav_icons/bio.png"/><span>Add/Edit Biography</span></a>
            </div>
        {% endif %}
            <div class="nav-link">
                <a href="/songs"><img src="../static/nav_icons/songs.png"/><span>Songs</span></a>
            </div>
            <div class="nav-link">
                <a href="{{ url_for('favorite_artists') }}"><img src="../static/nav_icons/artists.png"/><span>Favorite Artists</span></a>
            </div>
        </div>

    </div>
</main>
{% endblock %}

