{% extends 'base.html' %}
{% set show_navbar = false %}
{% block title %}Favorite Artists{% endblock %}

{% block content %}
<header class="navbar">
    <a href="/">Home</a>
</header>
<main>
    <div class="favorite-artists-container">
        <h1>Favorite Artists</h1>
        {% if not artists %}
            <p>You are not following any artists.</p>
        {% else %}
            <ul>
                {% for artist in artists %}
                    <li><a href="{{ url_for('artist_page', artist_id=artist.id) }}">{{ artist.artist_stagename }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</main>
{% endblock %}
