<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listener Details</title>
</head>
<body>
    <h1>Listener Details</h1>
    <form method="POST" action="{{ url_for('listener_details') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}
        </div>
        <div>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>
