{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block extra_links %}
<link rel="stylesheet" href="../static/login.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@1,300&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
{% set not_show_navbar = true %}
<main>
    <div class="login-container">
        <h1>Login</h1>

        <form method="post" action="{{ url_for('login') }}">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <label>Username:</label>
            <input type="text" name="username" required>
            <br>
            <label>Password:</label>
            <input type="password" name="password" required>
            <br>
            <label>
                <input type="checkbox" name="remember">
                Remember me
            </label>
            <br>
            <input type="submit" value="Login" class="submit-btn">
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}" style="color: #3C8071;">Register</a></p>
    </div>
</main>
{% endblock %}
