{% extends 'base.html' %}
{% block extra_links %}
<script src="../static/songs.js"></script>
<link rel="stylesheet" href="../static/playlists.css">

{% endblock %}
{% block title %}My Playlists{% endblock %}

{% block content %}
<header class="navbar">
    <a href="/dashboard">dashboard</a>
</header>
    <h1>My Playlists:</h1>
    <ul>
        {% for playlist in playlists %}
            <li>
                <h3>{{ playlist.playlist_title }}</h3>
                <ul>
                    {% for song in playlist.songs %}
                        <li>
                            <a href="#" class="song-link" data-src="{{ url_for('static', filename='audio/' + song.album.artist_id|string + '/' + song.album.album_title.replace(' ', '_').lower() + '/' + song.song_title + '.mp3') }}" data-title="{{ song.song_title }}" data-artist="{{ song.album.artist.artist_name }}" data-cover="{{ url_for('static', filename='audio/' + song.album.artist_id|string + '/' + song.album.album_title.replace(' ', '_').lower() + '/' +'album_cover/' + song.album.cover_name) if song.album.cover_name else url_for('static', filename='album_placeholder/music-placeholder.jpeg') }}">{{ song.song_title }}</a>

                            <form action="{{ url_for('delete_song_from_playlist') }}" method="post" onsubmit="return confirmDelete('{{ song.song_title }}');">
                                <input type="hidden" name="playlist_id" value="{{ playlist.playlist_id }}">
                                <input type="hidden" name="song_id" value="{{ song.song_id }}">
                                <button type="submit">Delete</button>
                            </form>
                            
                            <script>
                                function confirmDelete(songTitle) {
                                    return confirm("Are you sure you want to delete the song \"" + songTitle + "\"?");
                                }
                            </script>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <div class="player-container hidden">
        <div class="player">
          <nav>
            <div class="circle">
              <i class="fa-solid fa-angle-left"></i>
            </div>
            <div class="circle">
              <i class="fa-solid fa-bars"></i>
            </div>
          </nav>
          <img src="../static/nav_icons/events.png" alt="Cover Art" class="song_img" id="song-img">
          <div class="song-info-container hidden" id="song-info-container">
            <h2 id="song-info-title"></h2>
            <p id="song-info-artist"></p>
          </div>
          <h1 id="song-title" class="hidden"></h1>
          <p id="song-artist" class="hidden"></p>
          <button id="info-button">Show info</button>
          <audio id="player" controls>
            <!-- Empty source tag, it will be updated by JavaScript -->
            <source src="" type="audio/mpeg">
          </audio>
        </div>
      </div>
      
      
{% endblock %}
