{% extends 'base.html' %}
{% set show_navbar = false %}
{% block title %}My Playlists{% endblock %}

{% block content %}
<header class="navbar">
    <a href="/dashboard">dashboard</a>
</header>
    <h1>My Playlists:</h1>
    <ul>
        {% for playlist in playlists %}
            <li>
                <h3>{{ playlist.playlist_title }}</h3>
                <ul>
                    {% for song in playlist.songs %}
                        <li>
                            {{ song.song_title }}
                            <audio controls>
                                <source src="{{ url_for('static', filename='audio/' + song.album.artist_id|string + '/' + song.album.album_title.replace(' ', '_').lower() + '/' + song.song_title + '.mp3') }}" type="audio/mpeg">
                            </audio>
                            <form action="{{ url_for('delete_song_from_playlist') }}" method="post" onsubmit="return confirmDelete('{{ song.song_title }}');">
                                <input type="hidden" name="playlist_id" value="{{ playlist.playlist_id }}">
                                <input type="hidden" name="song_id" value="{{ song.song_id }}">
                                <button type="submit">Delete</button>
                            </form>
                            
                            <script>
                                function confirmDelete(songTitle) {
                                    return confirm("Are you sure you want to delete the song \"" + songTitle + "\"?");
                                }
                            </script>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
