<link rel="stylesheet" href="../static/navbar.css"/>

<nav class="sidebar">
    <div class="logo"><img src="../static/homepage-images/melo-logo-150.png"/>
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    </div>
    <form id="form" action="{{ url_for('search') }}" method="POST">
        <input type="text" name="search_query" placeholder="Search for artists...">
        <button type="submit">Search</button>
    </form>
    <form action="{{ url_for('logout') }}" method="POST" style="display: inline;">
        <input type="submit" value="Logout">
    </form>
</nav>