<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs</title>
</head>
<body>
    <h1>Songs</h1>
    <ul>
        {% for song in songs %}
            <li>
                {{ song.song_title }}
                <audio controls>
                    <source src="{{ url_for('static', filename='audio/' + song.album.artist_id|string + '/' + song.album.album_title.replace(' ', '').lower() + '/' + song.song_title + '.mp3') }}" type="audio/mpeg">
                </audio>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
