<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Songs:</h1>
    <ul>
        {% for album in albums %}
            <h3>{{ album.album_title }}</h3>
            {% for song in album.songs %}
                <li>
                    {{ song.song_title }}
                    <audio controls>
                        <source src="{{ url_for('static', filename='audio/' + album.artist_id|string + '/' + album.album_title.replace(' ', '_').lower() + '/' + song.song_title + '.mp3') }}" type="audio/mpeg">
                    </audio>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
</body>
</html>
