{% extends 'base.html' %}

{% block title %}Upload Music File{% endblock %}

{% block content %}
<h1>Upload Music File</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <label for="album">Album:</label>
    {{ form.album_title(id='album') }}
    <br>
    {{ form.album_release_date }}
    <br>
    <label for="file">File:</label>
    <input type="file" name="file" id="file" accept=".mp3" multiple>
    <br>
    <input type="submit" value="Upload">
</form>
{% endblock %}
