<!doctype html>
<html>
<head>
    <title>Upload Music File</title>
</head>
<body>
    <h1>Upload Music File</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post" enctype="multipart/form-data">
        <label for="album">Album:</label>
        <input type="text" name="album" id="album">
        <br>
        <label for="file">File:</label>
        <input type="file" name="file" id="file" accept=".mp3">
        <br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
