{% extends 'base.html' %}
{% set show_navbar = true %}
{% block title %}View Events{% endblock %}

{% block extra_links %}
<link rel="stylesheet" href="../static/my_events.css"> 
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<main>
    <h1>Events by {{ artist_name }}</h1>
    <ul>
        {% for event in events %}
            <li>
                <h2>{{ event.event_title }}</h2>
                <p>Date: {{ event.event_date.strftime('%Y-%m-%d %H:%M') }}</p>
                <p>Venue: {{ event.event_venue }}</p>
                <form action="{{ url_for('rsvp', event_id=event.event_id) }}" method="POST">
                    <input type="submit" value="RSVP">
                </form>
            </li>
        {% else %}
            <li>No events found.</li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
